.list {
    display: flex;
    justify-content: space-between;
    width: 400px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    list-style-type: circle;
}
.item {
    display: flex;
    width: 400px;
    padding: 2px 0;
    justify-content: space-between;
}

b {
    margin-left: auto;
    margin-right: 5px;
}

.button {
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(28, 110, 164, 0.83);
    transition-property: background-color, box-shadow;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.65);
}
.button:hover {
    background-color: rgb(245, 67, 36);
    box-shadow: none;
}